*{
    box-sizing: border-box;
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
}

h1{
    color:white ;
    font-style: italic;
    font-weight: bold;
    text-shadow: 10px 10px 15px ##b155a9;
}

header{
    background-color: black;
    text-align: center;
}

.body{
    background-color: black;
    text-align: center;
}

.container{
    width: 1000px;
    margin: auto;
}

.divFilme{
    background-color: rgba(32, 36, 52, 0.671);
    border: rgba(139, 76, 134, 0.699) 2px solid;
    border-radius: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divFilme>a>img{
    width: 300px;
    padding: 25px;
    transition-duration: 1s;
    display: block;
    text-align: center;
}

.divFilme>a>img:hover{
    width: 480px;
    padding: 30px;
    transition-delay: 0.75s;
    transition-duration: 1s;
}

p{
    color: rgb(212, 212, 212);
    font-family: 'Playfair Display SC', serif;
    font-size: 20px;
    padding: 15px;
}

h2{
    color: rgb(212, 212, 212);
    font-family: 'Playfair Display SC', serif;
}

.divFilme>a{
    margin: auto;
    display: flex;
    justify-content: center;
}
